# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Virtual Environments
venv/
env/